body {
  background: rgb(204, 204, 204);
}

.App {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.app-profile-container,
.app-personalInfo-container,
.app-finish-container,
.app-eduction-container {
  padding: 10px;
}
